<a href="https://colab.research.google.com/github/BiancaBianchi/FATEC-MECATRONICA-0791811011-BIANCA/blob/master/exercicio_datascience1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Usando os dados Kickstarter Projects, do site https://www.kaggle.com/kemical/kickstarter-projects , responda:


*  Qual categoria de projetos arrecadou mais dinheiro?
​
* Realizar a separação entre os projetos que derão certo e os que não derão certo
​
* Qual categoria mais superou o valor original estabelecido como meta?
    
* Qual o melhor mês lançar um projeto?

* Qual a categoria que tem maiores chances de dar certo?

In [2]:
import pandas as pd

In [3]:
#Carregando um conjunto de dados pré-existente
df_kickstarter = pd.read_csv('/media/ks-projects-201801.csv')
df_kickstarter.head()

           ID  ... usd_goal_real
0  1000002330  ...       1533.95
1  1000003930  ...      30000.00
2  1000004038  ...      45000.00
3  1000007540  ...       5000.00
4  1000011046  ...      19500.00

[5 rows x 15 columns]

In [9]:
df_kickstarter.columns

Index(['ID', 'name', 'category', 'main_category', 'currency', 'deadline',
       'goal', 'launched', 'pledged', 'state', 'backers', 'country',
       'usd pledged', 'usd_pledged_real', 'usd_goal_real'],
      dtype='object')

In [4]:
categorias = df_kickstarter.groupby("main_category")
categorias.describe()

                    ID                ... usd_goal_real
                 count          mean  ...           75%           max
main_category                         ...
Art            28153.0  1.077788e+09  ...     7500.0000  1.000000e+08
Comics         10819.0  1.063611e+09  ...     8000.0000  1.000000e+08
Crafts          8809.0  1.078527e+09  ...     6570.0100  1.000000e+07
Dance           3768.0  1.075450e+09  ...     7000.0000  2.000000e+06
Design         30070.0  1.078300e+09  ...    26716.3025  1.000000e+08
Fashion        22816.0  1.069690e+09  ...    15000.0000  1.000000e+08
Film & Video   63585.0  1.074967e+09  ...    20000.0000  1.513959e+08
Food           24602.0  1.081894e+09  ...    25000.0000  1.663614e+08
Games          35231.0  1.072129e+09  ...    20461.9350  1.000000e+08
Journalism      4755.0  1.076352e+09  ...    15000.0000  1.000000e+08
Music          51918.0  1.074995e+09  ...     8500.0000  5.000000e+07
Photography    10779.0  1.071581e+09  ...    10000.0000  1.000000e+07
Publishing     39874.0  1.077086e+09  ...    10000.0000  1.000000e+08
Technology     32569.0  1.071495e+09  ...    50000.0000  1.101698e+08
Theater        10913.0  1.068349e+09  ...     7566.5900  4.000000e+07

[15 rows x 56 columns]

In [5]:
categorias['pledged'].sum().sort_values()

main_category
Dance           1.390693e+07
Journalism      1.530200e+07
Crafts          1.776030e+07
Photography     3.950123e+07
Theater         4.471301e+07
Comics          7.464365e+07
Art             1.015470e+08
Food            1.313787e+08
Publishing      1.450902e+08
Fashion         1.494227e+08
Music           2.072948e+08
Film & Video    4.045744e+08
Technology      7.356088e+08
Games           7.703319e+08
Design          8.154909e+08
Name: pledged, dtype: float64

O que mais arrecadou foi a categoria Design.

## Realizar a separação entre os projetos que derão certo e os que não derão certo​

In [26]:
df_kickstarter['state'].unique()

array(['failed', 'canceled', 'successful', 'live', 'undefined',
       'suspended'], dtype=object)

In [27]:
sucesso = df_kickstarter.query("state == 'successful'")
failed = df_kickstarter.query("state == 'failed'")

In [28]:
sucesso.head()

            ID  ... usd_goal_real
5   1000014025  ...      50000.00
6   1000023410  ...       1000.00
11   100005484  ...      12500.00
14  1000057089  ...       6469.73
18  1000070642  ...        250.00

[5 rows x 15 columns]

In [29]:
failed.head()

           ID  ... usd_goal_real
0  1000002330  ...       1533.95
1  1000003930  ...      30000.00
2  1000004038  ...      45000.00
3  1000007540  ...       5000.00
7  1000030581  ...      25000.00

[5 rows x 15 columns]

## Qual categoria mais superou o valor original estabelecido como meta?

In [15]:
a = categorias[['pledged','goal']].mean()
a['Comparação de valores'] = (a.pledged/a.goal) * 100
a.head(20)

                    pledged           goal  Comparação de valores
main_category
Art             3606.970044   40829.180144               8.834295
Comics          6899.311189   20243.646297              34.081366
Crafts          2016.153947   11592.285901              17.392203
Dance           3690.798684   10321.331290              35.758940
Design         27119.751279   46733.630260              58.030483
Fashion         6549.031814   24818.246005              26.387972
Film & Video    6362.733853   84334.009667               7.544683
Food            5340.163268   48693.745411              10.966836
Games          21865.173174   50711.298323              43.116966
Journalism      3218.085216   88783.576925               3.624640
Music           3992.735602   16056.357380              24.867008
Photography     3664.646577   13003.234577              28.182577
Publishing      3638.716374   29131.464537              12.490674
Technology     22586.164814  119712.316780              18.867035
Theater         4097.224679   27542.345424              14.876092

A categoria que mais superou a meta foi a categoria Design.

# Qual o melhor mês lançar um projeto?

In [32]:
df_kickstarter['launched'].value_counts()

1970-01-01 01:00:00    7
2015-01-21 22:07:21    2
2015-01-21 00:16:10    2
2017-03-15 01:15:53    2
2015-11-25 00:12:00    2
                      ..
2015-03-10 03:28:22    1
2016-07-08 05:47:32    1
2011-07-07 00:04:59    1
2012-04-16 22:02:37    1
2015-04-03 07:50:29    1
Name: launched, Length: 378089, dtype: int64